:root {
  box-sizing: border-box;
  font-size: 1rem;
  --brand-accent: #fc6054;
  --brand-dark: #0e3b52;
  --brand-font: "Montserrat", sans-serif;
  --copy-font-size: 0.6em;
  --brand-white: #ffffff;
  --brand-gray: #909da6;
  --brand-light-gray: #babec1;
}

body {
  margin: 0;
  color: var(--brand-dark);
  font-family: var(--brand-font);
  overflow-x: hidden;
  letter-spacing: 0.02em;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.content-wrap {
  max-width: 960px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

/* Navigation */
nav {
  border-bottom: 1px solid #ededed;
}

.content-wrap.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#site-logo {
  max-width: 125px;
}

.main-nav {
  list-style-type: none;
  padding: 0;
}

.main-nav li {
  text-decoration: none;
  font-weight: 600;
  font-size: var(--copy-font-size);
  display: inline;
  margin-left: 1em;
}

.main-nav li a.active {
  color: var(--brand-accent);
}

.main-nav li a {
  color: var(--brand-dark);
}

/* Hero */
.content-wrap.hero {
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
}

.hero-img {
  width: 600px;
  position: absolute;
  top: 2.5rem;
  right: -20%;
}

h1 {
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 0.025em;
  max-width: 90%;
  margin: 1.5rem 0 1rem;
  line-height: 1em;
}

h3 {
  font-size: 1.5em;
  font-weight: 600;
  margin: 1rem 0;
}

p {
  margin: 0 0 0.5rem;
}

.hero-content {
  max-width: 39%;
}

/* Buttons */
.button-row {
  margin: 1rem 0;
}

.button {
  display: inline-block;
  font-size: var(--copy-font-size);
  font-weight: 600;
  padding: 1em 1.5em;
  border-radius: 3px;
  margin-right: 1rem;
  transition: 0.3s;
}

.button.accent:hover {
  box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.36);
}

.button.accent {
  background-color: var(--brand-accent);
  color: var(--brand-white);
}

/* Fontawesome */
.fas {
  font-size: 1.2em;
  margin: 0 0.5rem 0 0;
}

.fa-phone-alt {
  color: var(--brand-accent);
}

.accent-word {
  color: var(--brand-accent);
}

.copy {
  font-size: var(--copy-font-size);
  font-weight: 400;
  letter-spacing: 0.025rem;
  line-height: 1.7em;
}

/* Main-content */
#main-content {
  background-color: #f0f2f4;
}

.content-wrap.main {
  padding-top: 2rem;
}

.main-wrap {
  display: flex;
}

article {
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 1.5rem 0 0;
}

aside {
  width: 25%;
}

/* Cards */
.card-wrap {
  width: 50%;
  padding: 0.5rem;
}

.card {
  width: 100%;
  /* margin: 0.5rem; */
  background-color: var(--brand-white);
  transition: 0.3s;
  border-radius: 3px;
}

.card:hover {
  box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.36);
  transform: translate(0, -2px);
}

.card-wrap:nth-child(odd) {
  padding-left: 0;
}

.card-wrap:nth-child(even) {
  padding-right: 0;
}

.card-top {
  border-radius: 3px;
  background-image: url("../img/event-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5.5em;
}

.card-top.alt {
  background-image: url("../img/event-2.png");
}

/* .card-img {
  max-width: 100%;
  border-radius: 3px 3px 0 0;
} */

.card-banner {
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--brand-white);
  font-size: var(--copy-font-size);
  padding: 0.5em 1rem;
}

.card-bottom {
  background-color: var(--brand-white);
  padding: 0.5rem 1rem;
  border-radius: 3px;
  margin: 0;
}

.card-title {
  font-weight: 700;
  font-size: 0.875em;
  margin: 0.5em 0;
}

.time-location {
  font-size: var(--copy-font-size);
  color: var(--brand-gray);
}

/* Form Sidebar */
.form-pill {
  background-color: var(--brand-white);

  border: 1px solid var(--brand-light-gray);
  border-radius: 19px;
  display: flex;
  justify-content: space-around;
}

.form-pill a {
  font-size: var(--copy-font-size);
  color: var(--brand-accent);
  font-weight: 600;
  border-radius: 19px;
  padding: 0.5em 2em;
  margin: 0.25em 0;
}

.form-pill a:nth-child(1) {
  background-color: var(--brand-accent);
  color: var(--brand-white);
}

/* Footer */
.content-wrap.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}

.footer-left p {
  margin: 0;
}

.footer-right {
  color: var(--brand-gray);
}

.socials {
  margin-left: 1rem;
}
