@media only screen and (max-width: 1028px) {
  .content-wrap {
    padding: 0 3em;
  }

  .content-wrap.hero {
    display: flex;
    justify-content: space-between;
  }

  .hero-img {
    top: 3rem;
  }
}

@media only screen and (max-width: 800px) {
  .hero-img {
    right: -30%;
    top: 3.5rem;
    max-width: 75%;
  }

  .hero-content {
    max-width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .hero-img {
    top: 4rem;
  }
}

@media only screen and (max-width: 600px) {
  .content-wrap.nav {
    flex-direction: column;
    padding: 0.5rem 0;
    align-items: center;
  }

  .hero-img {
    left: 0;
    opacity: 0.05;
    max-width: 100%;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .content-wrap {
    padding: 0 1.5rem;
  }
}
