@media only screen and (max-width: 1400px) {
  .content-wrap {
    padding: 0 3em;
  }
}

@media only screen and (max-width: 1028px) {
  .content-wrap {
    padding: 0 3em;
  }

  .content-wrap.hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .hero-img {
    top: 3rem;
  }
}

@media only screen and (max-width: 960px) {
  .content-wrap {
    flex-direction: column-reverse;
  }

  .content-left,
  .content-right {
    width: 100%;
  }

  .hero-img {
    max-width: 100%;
  }

  .content-right {
    padding-left: 0;
  }

  h1 {
    font-size: 48px;
  }

  .main-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  article {
    width: 100%;
  }

  .main-nav li {
    font-size: 12px;
    margin-left: 1.5em;
  }

  #site-logo {
    max-width: 180px;
  }
}

@media only screen and (max-width: 800px) {
  /* .hero-img {
    right: -30%;
    top: 3.5rem;
    max-width: 75%;
  } */

  .hero-content {
    max-width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  /* .hero-img {
    top: 4rem;
  } */

  h1 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 600px) {
  .content-wrap.nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0.5rem 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  /* .hero-img {
    left: 0;
    opacity: 0.05;
    max-width: 100%;
  } */

  .hero-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 100%;
  }

  .card-wrap {
    width: 100%;
  }

  .card-wrap {
    padding-left: 0;
    padding-right: 0;
  }

  .content-wrap.footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .footer-left p.time-location {
    text-align: center;
  }

  .footer-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 5rem;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    margin-bottom: 1rem;
  }

  .socials {
    margin: 0;
  }
}

@media only screen and (max-width: 500px) {
  .content-wrap {
    padding: 0 1.5rem;
  }

  .main-nav li {
    font-size: 11px;
    margin-left: 1em;
  }
}
